/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Ngo Viet Hung
ID: s4019303
Acknowledgement: 
https://jujutsu-kaisen.fandom.com/es/wiki/Lista_de_Vol%C3%BAmenes

https://chainsaw-man.fandom.com/wiki/Category:Volumes

https://oshinoko.fandom.com/wiki/Volume_1

https://vagabond.fandom.com/wiki/Chapters_and_Volumes

https://www.goodreads.com/book/show/25843399-monster-volume-01

https://www.viz.com/monster

https://www.viz.com/read/death-note/series/9/section/61487/more

https://spy-x-family.fandom.com/wiki/Volume_1

https://kimetsu-no-yaiba.fandom.com/wiki/Volume_1

https://www.kenmei.co/series/goodnight-punpun

https://www.viz.com/goodnight-punpun

 https://www.amazon.com/Berserk-Vol-1-Kentaro-Miura/dp/1593070209

https://vinlandsaga.fandom.com/wiki/Volume_1

https://kodansha.us/series/attack-on-titan/

https://twitter.com/ogipote/status/1608050193316085762/photo/3

https://youtu.be/v8bZVdTgXoY

https://www.brandcrowd.com/maker/logo/d9ec9b82-38bc-4b23-b2c4-37f6c9453ca8/draft/a2a9fad5-8576-4339-86fe-7dae778666e7

https://anilist.co/.
*/
body {
    display: block;
    background-color: white;
    margin: 0px;
}


header {
    display: flex;
    background-color: black;
    width: 100%;    
    justify-content: center;
}

.head-container {
    background-color: black;
    width: 90%;
    display: flex;
    align-items: center;
    color: #F1D4D4;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-family: 'Recursive', sans-serif;
    font-family: 'Tektur', cursive;
    color: #fff;
    text-shadow:
    0 0 21px #fff,
    0 0 42px #F9D8D8,
    0 0 82px #E97979,
    0 0 92px #62274C,
    0 0 102px #572344,
    0 0 151px #F9D8D8;
    white-space: nowrap;
    
}

.navbar {
    align-self: flex-end;
    width: fit-content;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(../image/background2.png);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    height: 1000px;
}

section {
    text-align: center;
    margin: 10px 0px;
    display: block;
    background-color:hsla(0, 0%, 0%, 0.7) ;
}


main p,h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow:
    0 0 21px black,
    0 0 42px black,
    0 0 82px black,
    0 0 92px #62274C,
    0 0 102px #572344,
    0 0 151px black;
    margin: 20px 20px 20px;
    text-align: left;
}


#breadcrumb {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    align-self: flex-start;
}


footer {
    background-color: black;
    margin-bottom: 0px;
    height: 200px;
}

#logo {
    width: 200px;
    
}


.navbar ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    
}

.navbar li {
    font-family: 'Recursive', sans-serif;
    margin: 10px 12px;
    color: #F1D4D4;
}

footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

footer li {
    font-family: 'Recursive', sans-serif;
    color: #F1D4D4;
    margin: 40px;
}

a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.menu, .menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    margin: 10px;
}



@media only screen and (max-width: 768px) {
    .navbar ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        position: relative;

    }


    .menu:checked ~.navbar {
        display: block;
    }

    .navbar {
        display: none;
        position: fixed;
        right: 0px;
        top: 100px;
        background-color: hsla(0, 0%, 0%, 0.8);
        height: auto;
        
    }

    .menu-icon {
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        color: #F9D8D8;
        cursor: pointer;
    }


    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
    }

    footer li {
        margin: 20px 0px;
        color: #F1D4D4;
        
    }

    footer {
        height: auto;
    }


    .head-container {
        width: 100%;
    }

    #logo {
        width: 90px;
    }

    header h1 {
        font-size: 20px;
    }


}

@media only screen and (max-width: 992px) { 
    .head-container {
        width: 100%;
        
    }

    .head-container h1 {
        margin: 40px;
    }
    
    footer li {
        font-family: 'Recursive', sans-serif;
       
        color: #F1D4D4;
        margin: 20px;
    }
    main {
        height: 600px;
    }
}